<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Pic:</strong>
  <%= image_tag @task.pic.url, size:"100x100" %>
</p>

<div id="user_input">
	<img id="task_image" style="width:300px;height:200px;"/>
	<div id="sample_label"></div>
	<textarea id="input_field" onkeypress="input_field_key_pressed(event, this)" rows="4" cols="50"></textarea>
	<!-- <textarea id="input_field" rows="4" cols="50"></textarea> -->
	<button id="help_button" onclick="show_sample();">Help</button>
	<button id="ok_button" onclick="check_task();">OK</button>
	<button id="give_up" onclick="give_up();">Give Up!</button>
<div>

<div id="answers" style="display:none">
  <p>
    <strong>Answers:</strong>
  </p>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td><%= answer.body %></td>
          <td><%= answer.likes %></td>
          <td><%= link_to 'Show', answer %></td>
          <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
          <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
